# CAR_VAN_TRUCK.csv 생성 코드
- yolov5 모델의 학습을 위한 데이터 라벨링 준비
- car, van, truck의 3가지 클래스만을 사용

In [1]:
import pandas as pd
import os

In [5]:
# 클래스 전부 가져오기
bbox_path = '/usr/src/datasets/rawVkitti/vkitti2.0.3bbox'

info_list = []
for (path, dir, files) in os.walk(bbox_path):
    for filename in files:
        ext = os.path.basename(filename)
        if ext == 'info.txt':
            info_list.append("%s/%s" % (path, filename))

result_df = pd.DataFrame(columns=range(4))
for info_txt_path in info_list:
    tmp_df = pd.read_csv(info_txt_path, sep=" ", header=None)
    result_df = result_df.append(tmp_df)
    
result_df = result_df.drop_duplicates([0])
result_df = result_df.drop([2,3], axis=1)
result_df = result_df.drop([0], axis=0)
result_df = result_df.sort_values(by=[0], axis=0)
result_df

# car : 0, van : 1, truck : 2

       0    1
40     0  Car
44     1  Car
57    10  Car
126  100  Car
56   101  Car
..   ...  ...
21    94  Car
22    95  Car
48    96  Car
124   97  Car
49    98  Car

[132 rows x 2 columns]

In [6]:
# save
result_df.to_csv("CAR_VAN_TRUCK.csv", index=False)